src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <flow name="care-benefit-verification-main">
        <http:listener config-ref="HTTPS_API_Listener_config" path="/${secure::api.base}/${secure::api.version}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="MetaData" doc:id="cda78d88-b98a-4f3f-8d9e-528b3448f650">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="inputPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="trxId" ><![CDATA[%dw 2.0
output application/java
---
{
 "x-transaction-id": attributes.headers.'x-transaction-id' default correlationId
}
 ]]></ee:set-variable>
				<ee:set-variable variableName="endPoint" ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(attributes.scheme) and !isEmpty(attributes.headers.host) and !isEmpty(attributes.relativePath)) (attributes.scheme ++ '://' ++ attributes.headers.host ++ attributes.relativePath) 
else ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Request Reciever" doc:id="c856dd29-415b-45b7-ab5e-f5a768ae5ddb" message='#["Request Received for " ++ vars.endPoint]'/>
		<apikit:router config-ref="care-benefit-verification-config" />
		<error-handler ref="apikitErrors" />
    </flow>
    <flow name="care-benefit-verification-console">
        <http:listener config-ref="HTTPS_API_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="care-benefit-verification-config" />
		<error-handler ref="apikitErrors" />
    </flow>
    <flow name="get:\ping:care-benefit-verification-config">
        <ee:transform doc:name="Ping Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json encoding="UTF-8"
---
{
	TimeStamp: now(),
	AppName: p('secure::ping.application.name'),
	AppVersion: p('secure::ping.application.version')
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="apikitErrors" />
    </flow>
    <flow name="post:\care-benefit-verification">
		<flow-ref doc:name="InPutValidations" doc:id="dc23ec01-4948-4266-8586-544e5ae88a2c" name="validationsSub_Flow" />
		<logger level="INFO" doc:name="Start:Logger" doc:id="fbb3a524-e57c-42c6-bc64-956a7150f5b1" message='#["Start:Care Benefit Verify Request Process"]'/>
		<flow-ref doc:name="CareBenefitVerifyRequest" doc:id="9f3ac409-7e9c-4c36-b278-60a342b8e939" name="POST-CareBenefitVerifyRequest-Sub_Flow"/>
		<logger level="INFO" doc:name="End:Logger" doc:id="b41e7fe7-d0d2-4ceb-987f-cff15b7ed3e4" message='#["End:Care Benefit Verify Request Process"]'/>
		<error-handler ref="apikitErrors" />
    </flow>
	<flow name="get:\care-benefit-verification" doc:id="ba3100e2-6db7-4f3c-a040-3645f58f988a" >
		<flow-ref doc:name="GET-Care-benefit-Requests-Sub_Flow" doc:id="b71f8f99-d766-4d97-a4b7-5e5581c16fb8" name="GET-Care-benefit-Requests-Sub_Flow"/>
		<error-handler ref="apikitErrors" />
	</flow>
</mule>
